* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125em;
}

body {
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  z-index: 100;
  position: relative;
}

.bg-img {
  width: 100%;
  height: 43%;
  object-fit: cover;
  position: absolute;
}

.mock-img {
  width: 95%;
  object-fit: contain;
  position: relative;
  margin-top: -36%;
  z-index: 1;
  padding-left: 2%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-motto {
  display: flex;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
  padding: 0.7em;
}

.main p {
  text-align: center;
  line-height: 1.3em;
  font-size: 0.9em;
  padding: 0em 0.8em 0em;
  color: hsl(233, 8%, 62%);
}

.req-btn {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  color: white;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-top: 2.3em;
  margin-bottom: 5em;
  padding: 1em 2.5em 1em;
  border: none;
  border-radius: 2em;
}

.key-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(220, 16%, 96%);
  padding-top: 2em;
  padding-bottom: 2em;
}

.why-flex {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0em 1.5em 0em;
  align-items: center;
}

.why {
  font-size: 1.7em;
  text-align: center;
  padding: 2em 0.7em 1em;
  margin: auto;
}

.points {
  font-size: 1.25em;
  text-align: center;
  padding: 1.25em 1.25em 0.8em;
  margin: auto;
}

.points-title {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.25em 1.5em 0.8em;
  align-items: center;
}

.point1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-points p {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.3em;
  padding: 0em 1.2em 2em;
  margin: auto;
  color: hsl(233, 8%, 62%);
}

.articles-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin: 3em 0em 1.1em;
}

.article1 {
  display: flex;
  flex-direction: column;
  width: 19em;
  margin: 0;
  padding-left: 1em;
  text-align: start;
}
.art-images {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 18em;
  object-fit: contain;
  object-position: center;
}
.author {
  font-size: 0.7em;
  padding-top: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 0.5em;
  color: hsl(233, 8%, 62%);
}
.title {
  font-size: 1.1em;
  padding-left: 0.7em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

.para {
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 0.6em 1.2em;
  padding-left: 1.1em;
  padding-right: 1.2em;
  padding-bottom: 5em;
  color: hsl(233, 8%, 62%);
}

.foot {
  background-color: rgb(45, 49, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em 0em 2em;
}

.logo {
  padding-left: 2em;
}

.icons {
  display: flex;
  padding: 2em 0em 2em;
}

.icon {
  width: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.about {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

.text {
  padding-bottom: 1em;
}

.rights {
  margin-top: -1.5em;
  font-size: 0.9em;
  color: hsl(233, 8%, 62%);
}

/* menu */
.menu-box {
  position: absolute;
  display: none;
  background-color: white;
  color: hsl(233, 26%, 24%);
  width: 90%;
  text-align: center;
  box-shadow: 2rem 2rem 20rem 4rem hsl(233, 26%, 24%);
  border-radius: 0.3em;
  z-index: 3;
  padding-top: 1.6em;
  cursor: pointer;
  line-height: 2em;
}

.menu-box:last-child {
  padding-bottom: 1.6em;
}

.menu-icon {
  position: relative;
  padding-bottom: 0.4em;
  cursor: pointer;
}

.menu:active .menu-box {
  display: block;
  margin-top: 2rem;
  margin-left: -85%;
}
.menu-icon:active {
  visibility: hidden;
}

.menu-icon:active + .x {
  visibility: visible;
}

.x {
  position: absolute;
  visibility: hidden;
  padding: auto;
  margin-left: -1.4em;
  z-index: 4;
}

/*hides */
.desk-menu {
  display: none;
}

.head-req {
  display: none;
}

.desk-bg-img {
  display: none;
}
.br {
  display: none;
}
@media (min-width: 1010px) {
  .menu {
    display: none;
  }
  .desk-menu {
    display: block;
  }
  .menu-bar {
    display: flex;
    font-size: 0.9em;
    color: hsl(233, 8%, 62%);
  }
  .head {
    justify-content: space-around;
    align-items: center;
    padding: 0.3em;
  }
  .head-req {
    display: block;
  }
  .bar {
    display: flex;
    padding: 0em 0.7em 0.5em;
  }

  .desk-req-btn {
    margin: 0;
    padding: 0.7em 2em 0.7em;
    align-self: center;
  }

  .bg-img {
    display: none;
  }

  .page-1 {
    display: flex;
    flex-direction: row-reverse;
  }

  .imgs {
    overflow: hidden;
    position: relative;
    margin-left: -15em;
    padding-right: 3em;
  }

  .desk-bg-img {
    display: block;
    position: absolute;
    width: 150%;
    object-fit: cover;
    margin-left: -2%;
    margin-top: -34%;
  }

  .mock-img {
    width: 100%;
    object-fit: cover;
    position: relative;
    margin-top: -17%;
    margin-left: 22%;
    z-index: 10;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40em;
    margin: auto;
    margin-left: 1em;
    margin-top: 8em;
    padding-left: 6em;
  }

  .main-motto {
    text-align: start;
    padding-left: 0.1em;
  }

  .main p {
    text-align: start;
    width: 25em;
  }

  .desk-req-btn {
    margin: 1em 0.7em 1em;
  }

  .key-points {
    position: relative;
    z-index: 7;
    margin-top: -9em;
  }
  .why-flex {
    text-align: start;
    margin-left: 6em;
  }

  .why {
    text-align: start;
    align-self: flex-start;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0em;
  }

  .why-flex p {
    padding-left: 0.5em;
    margin-left: 0;
    width: 38em;
    text-align: start;
  }

  .points-title {
    flex-direction: row;
    align-items: flex-start;
    text-align: start;

    margin-left: 5em;
  }

  .point1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    margin-right: 0.5em;
    text-align: start;
  }

  .points {
    text-align: start;
    margin-left: -1em;
    padding: 1em;
  }

  .point1 p {
    text-align: start;
    width: 16.57em;
    padding: 0em;
  }

  .articles {
    flex-direction: row;
    margin-left: 4em;
    align-self: flex-start;
  }

  .arti-flex {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    padding: 0;
  }

  .article1 {
    margin-right: -3.5em;
    padding: 0.2em;
    padding-top: 0;
  }

  .arti-flex .article1:not(:first-child) {
    margin: 0;
    padding: 1em;
  }

  .arti-flex .article1:nth-child(2) {
    margin-left: -0.3em;
    margin-right: -3.4em;
    padding-left: 0em;
  }

  .arti-flex .article1:nth-child(3) {
    margin-right: -3.4em;
    padding-left: 0em;
  }
  .arti-flex .article1:nth-child(4) {
    margin-right: -3em;
    padding-left: 0em;
  }

  .art-images {
    width: 15em;
  }

  .first-pic {
    width: 14em;
    padding-top: 0.5em;
  }

  .second-pic {
    width: 15em;
  }

  .title {
    width: 12em;
  }
  .para {
    width: 16.5em;
  }

  .foot {
    flex-direction: row;
  }

  .logo {
    padding-left: 0.5em;
    padding-bottom: 0.6em;
  }

  .icon {
    padding-right: 0em;
    padding-left: 0.6em;
  }

  .part1 {
    margin-bottom: 0;
    padding-top: 1.2em;
  }

  .about {
    flex-direction: row;
    text-align: start;
    margin-left: -5em;
  }

  .half {
    padding-right: 8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .foot-req {
    margin-left: -2em;
    margin-top: -3em;
    padding: 0;
  }

  .rights {
    margin-top: -4em;
    margin-left: -4em;
  }

  /* hovers */
  .req-btn {
    cursor: pointer;
  }

  .req-btn:hover {
    opacity: 0.6;
  }

  .bar {
    cursor: pointer;
    border-bottom: solid transparent;
  }
  .bar:hover {
    color: black;
    border-bottom-style: solid;
    border-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-image-slice: 1;
  }

  .title {
    cursor: pointer;
  }
  .title:hover {
    color: hsl(136, 65%, 51%);
  }

  .text {
    cursor: pointer;
  }

  .text:hover {
    color: hsl(136, 65%, 51%);
  }

  .icon:hover > a > svg > path {
    fill: hsl(136, 65%, 51%);
  }
}
